[mysqld]
user = root
basedir = /usr
datadir = /var/lib/mysql
plugin-dir = /usr/lib/mariadb/plugin
log-error = /var/lib/mysql/error.log
pid-file = /run/mysqld/mysqld.pid
log-bin = /var/lib/mysql/mysql-bin
socket = /var/run/mysqld/mysqld.sock
port = 3306
bind = 0.0.0.0
skip-networking = false
